@model IEnumerable<a1.Models.qa_comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qa.Qa_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_t.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qa.Qa_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_t.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.C_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.C_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.C_id })
        </td>
    </tr>
}

</table>
