@model IEnumerable<a1.Models.vid_rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.U_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vid_rating1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.Vid_title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.U_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vid_rating1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.Vid_title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Vid_rating_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Vid_rating_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Vid_rating_id })
        </td>
    </tr>
}

</table>
