@model a1.Models.vid_comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vid_comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_t.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_t.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.Vid_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.Vid_title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
